<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909292911955-qegf2dll945m1kujl0eadn5g5cl7agc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909292911955-qegf2dll945m1kujl0eadn5g5cl7agc9</string>
	<key>API_KEY</key>
	<string>AIzaSyC3hO9wn9nZrdRwn4C411Z9AcdDXVkbf6o</string>
	<key>GCM_SENDER_ID</key>
	<string>909292911955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hybridwalls.hybridsol</string>
	<key>PROJECT_ID</key>
	<string>fattafatt-walls-flutter-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>fattafatt-walls-flutter-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909292911955:ios:e86144615f2d4ba92875a6</string>
</dict>
</plist>